body{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color:azure;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');


header {
    padding: 25px;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.encabezado-img{
    background-image: url(../images/catamarca-redim.jpg);
    height: 600px;
    background-size: cover;
    height: 500px;
    overflow: hidden;
    
}


h2{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-family: 'Poppins', sans-serif;
}


p,a{
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
}

footer {
    background-color:rosybrown;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;

}

